<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    <link href="../static/Min.css" rel="stylesheet">
    <link href="../static/thank_you.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="icon" href="./kcutcut.png">
    
</head>
<body>
    <div>
      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href='/searchl' style="font-size: 2rem; letter-spacing: 0.5rem;">KHANA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"> 
              <form action="/loginscreen" method="post" id="loginpage">
                <input type="hidden" value="{{data.uid}}" name="uid"/>
              <a onclick="document.getElementById('loginpage').submit();" class="nav-link active" aria-current="page" href="#" style="color: #b81bb8;">&nbsp;&nbsp;&nbsp;&nbsp;Reservation&nbsp;&nbsp;&nbsp;&nbsp;</a>
              </form>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vlogs" style="color: #8b0b8b;">&nbsp;&nbsp;&nbsp;&nbsp;Vlog&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/abouts" style="color: #8b0b8b;">&nbsp;&nbsp;&nbsp;&nbsp;About&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item">
              <form action="/mybookings" method="post" id="bookingpage">
                <input type="hidden" value="{{data.uid}}" name="uid"/>
              <a onclick="document.getElementById('bookingpage').submit();" class="nav-link" href="#" style="color: #8b0b8b;">&nbsp;&nbsp;&nbsp;&nbsp;My Bookings&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </form>
            </li>
            </ul>
          </div>
        </div>
    </nav>
        <div class="text-center">
            <p class="thanks-header" style="color: rgb(73, 0, 37); ;">{{data.msg}}</p>
            <p class="thanks-subtext" style="color: rgb(73, 0, 37); padding-left: 0.3rem;">
              {{data.secmsg}}
            </p>
            <form action="/mybookings" method="post">
              <input type="hidden" value="{{data.uid}}" name="uid"/>
            <button class="btn-sm btn-info" style="font-family: roboto; margin-bottom: 15%;">My Bookings</button></form>
        </div>
      <div>
        <footer class="foot bg-dark py-3">
            <p class="foot-talk text-center">Caringly Carafted By Show The Code</p>
            <p class="foot-talk text-center">Chidam | Arman | Luqmaan | Vishnu</p>
        </footer>
        </div>
    
</body>
</html>